<form method="post" action="{{ path('artikel_delete', {'id': artikel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artikel.id) }}">
    <button class="btn btn-primary"><i class="fas fa-trash-alt"></i></button>
</form>
