{# {{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

<div class="container mt-3">

    <form action="{% if artikel is not defined %}{{ path('artikel_create') }}{% else %}{{ path('artikel_update') }}{% endif %}"
          method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Judul</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="judul" id="judul"
                       value="{% if artikel is defined %}{{ artikel.judul }}{% endif %}" placeholder="Tulis Judul" required id="judul_form">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Isi</label>
            <div class="col-sm-10">
                <textarea name="isi" placeholder="Isi" rows="5"
                          cols="100" required id="isi_form">{% if artikel is defined %}{{ artikel.isi }}{% endif %}</textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Jenis Artikel</label>
            <div class="col-sm-10">
                <select class="custom-select" id="jenis_form" name="jenis" required>
                    <option value="Hiburan" {% if artikel is defined and artikel.jenis == "Hiburan" %}selected{% endif %}>
                        Hiburan
                    </option>
                    <option value="Berita" {% if artikel is defined and artikel.jenis == "Berita" %}selected{% endif %}>
                        Berita
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Penulis</label>
            <div class="col-sm-10">
                <select class="custom-select" id="penulis_form" name="penulis" required>
                    {% for data in penulis %}
                        <option value="{{ data.id }}" {% if artikel is defined and artikel.getIdPenulis().id == data.id %}selected{% endif %}>{{ data.nama }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Lolos Edit</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="lolos_edit" id="lolos_edit1"
                               value="Lolos" required {% if artikel is defined and artikel.getLolosEdit() == 'Lolos' %}checked="checked"{% endif %}>
                        <label class="form-check-label" for="lolos_edit1">
                            Lolos
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="lolos_edit" id="lolos_edit0"
                               value="Tidak Lolos" required {% if artikel is defined and artikel.getLolosEdit() == 'Tidak Lolos' %}checked="checked"{% endif %}>
                        <label class="form-check-label" for="lolos_edit0">
                            Tidak Lolos
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        {% if artikel is not defined %}
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Foto</label>
            <div class="col-sm-10">
                <input type="file" class="form-control-file" name="foto" id="foto_form" required>
            </div>
        </div>
        {% endif %}

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" {% if artikel is not defined %}onclick="tambah()"{% endif %} class="btn btn-primary">Simpan</button>
            </div>
        </div>
    </form>
</div>