{% extends 'base.html.twig' %}

{% block title %}Edit Artikel{% endblock %}

{% block body %}
    <h1>Edit Artikel</h1>

    {{ include('artikel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('artikel_index') }}">back to list</a>
{% endblock %}
