{% extends 'base.html.twig' %}

{% block title %}Artikel index{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Artikel index</h1>
            <a href="{{ path('artikel_new') }}">Create new</a>
            <div class="table-responsive">
                <table class="table table-hover table-bordered" id="datatable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Judul</th>
                            <th>Isi</th>
                            <th>Jenis</th>
                            <th>Dilihat</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>{% set i=1 %}{% for artikel in artikels %}
                        <tr>
                            <td>{{ i }}{% set i=i+1 %}</td>
                            <td>{{ artikel.judul }}</td>
                            <td>{{ artikel.isi }}</td>
                            <td>{{ artikel.jenis }}</td>
                            <td>{{ artikel.counter }} kali</td>
                            <td>
                                <a href="{{ path('artikel_show', {'id': artikel.id}) }}" class="btn btn-primary"><i class="far fa-eye"></i></a>
                                <a href="{{ path('artikel_edit', {'id': artikel.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                {{ include('artikel/_delete_form.html.twig') }}
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    }); 
</script>
{% endblock %}