{% extends 'base.html.twig' %}

{% block title %}Artikel Baru{% endblock %}

{% block body %}
    <h1>Buat Artikel</h1>

    {{ include('artikel/_form.html.twig') }}

    <a href="{{ path('artikel_index') }}">Kembali</a>
{% endblock %}

{% block javascript %}
function tambah() {
    event.preventDefault()

    var foto = $('#foto-form').val().split('\\').pop()
    var judul = $('#judul-form').val()
    var isi = $('#isi-form').val()
    var jenis = $('#jenis-form').val()
    var penulis = $('#penulis-form option:selected').val()
    var lolos_edit = $("input[name='lolos_edit1'||'lolos_edit0']:checked").val()

    if ((foto == '' || foto == null)) {
        alert('Gambar tidak boleh kosong')
    } else if (judul == '' || judul == null) {
        alert('Judul tidak boleh kosong')
    } else if (isi == '' || isi == null) {
        alert('isi tidak boleh kosong')
    } else if (jenis == '' || jenis == null) {
        alert('jenis wajib diisi')
    } else if (penulis == '' || penulis == null) {
        alert('Pilih salah satu penulis')
    } else if (lolos_edit == '' || lolos_edit == null) {
        alert('Pilih salah satu lolos edit')
    } else {
        $('#form').attr('action', '{{ path('artikel_create') }}')
                    $('#form').submit()
                }
            }
{% endblock %}
