{% extends 'base.html.twig' %}

{% block title %}Artikel{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('artikel_index') }}" class="btn btn-primary"><i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('artikel_edit', {'id': artikel.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
            {{ include('artikel/_delete_form.html.twig') }}
            <h1>Artikel</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ artikel.id }}</td>
                    </tr>
                    <tr>
                        <th>Judul</th>
                        <td>{{ artikel.judul }}</td>
                    </tr>
                    <tr>
                        <th>Isi</th>
                        <td>{{ artikel.isi }}</td>
                    </tr>
                    <tr>
                        <th>Foto</th>
                        <td><img src="{{ asset(artikel.foto) }}" width="200px"></td>
                    </tr>
                    <tr>
                        <th>Jenis</th>
                        <td>{{ artikel.jenis }}</td>
                    </tr>
                    <tr>
                        <th>Lolos_edit</th>
                        <td>{{ artikel.lolosEdit }}</td>
                    </tr>
                    <tr>
                        <th>Penulis</th>
                        <td>{{ artikel.getIdPenulis().nama }}</td>
                    </tr>
                    <tr>
                        <th>Counter</th>
                        <td>{{ artikel.counter }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}