<div class="container mt-3">
<form action="" method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nama" placeholder="Tulis nama">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Asal</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="asal" placeholder="Asal">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </div>
</form>
</div>