{% extends 'base.html.twig' %}

{% block title %}Penulis{% endblock %}

{% block body %}
<div class="container mt-3">
<section id="content">
        <section class="vbox">
            <header class="panel-heading">
                <h3>Tabel Penulis</h3>
            </header>
            <section class="scrollable padder">
                <div class="text-left" style="margin-bottom: 10px;">
                    <a href="" class="btn btn-sm btn-info">Tambah Penulis <i
                                class="fa fa-plus-circle"></i></a>
                </div>
                <section class="panel panel-default">

                    <div class="table-responsive">
                        <table id="pegawai" class="table table-hover table-bordered">
                            <thead style="font-size: small">
                            <tr>
                                <th class="text-center">
                                    No
                                </th>
                                <th>
                                    Nama Penulis
                                </th>
                                <th>
                                    Asal Penulis
                                </th>
                                <th>
                                    Aksi
                                </th>
                            </tr>
                            </thead>
                            <tbody style="font-size: small">
                            {% set i=1 %}
                            {% for data in penulis %}
                            <tr>
                                <td class="text-center">
                                    {{ i }}
                                    {% set i=i+1 %}
                                </td>
                                <td>
                                    {{ data.nama }}
                                </td>
                                <td>
                                    {{ data.asal }}
                                </td>
                                <td>
                                    <a href=""><i class="fas fa-edit"></i></a>
                                    <a href=""><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {{ knp_pagination_render(penulis) }}
                    </div>
                </section>
            </section>

        </section>
    </section>
</div>
{% endblock %}