<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('asset/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/bootstrap-grid.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/bootstrap-reboot.css') }}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active ">
                            <a class="nav-link" href="">Artikel</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="">Penulis</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        {% block body %}{% endblock %}
        <footer>
            <script src="{{ asset('asset/js/jquery.js') }}"></script>
            <!-- Bootstrap -->
            <script src="{{ asset('asset/js/bootstrap.js') }}"></script>
            <script src="{{ asset('asset/js/bootstrap.bundle.js') }}"></script>
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
            {% block javascripts %}{% endblock %}
        </footer>
    </body>
</html>
